.card {
    height: 500px;
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 32px;
    margin-top: var(--mantine-spacing-xs);
    cursor: default;
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

.textShadow{
    text-shadow: 2px 2px 4px black, 0 0 1em black, 0 0 0.2em black;
}