.textShadow {
    text-shadow: 2px 2px 4px black, 0 0 1em black, 0 0 0.2em black;
}

.wrapper {
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
    @media (max-width: 755px) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    color: var(--mantine-color-black);
    margin-bottom: var(--mantine-spacing-xs);
    @media (max-width: 520px) {
        font-size: 28px;
        text-align: left;
    }
}

.highlight {
    color: var(--mantine-color-blue-6);
}

.description {
    text-align: center;
    @media (max-width: 520px) {
        text-align: left;
        font-size: var(--mantine-font-size-md);
    }
}

.controls {
    margin-top: var(--mantine-spacing-lg);
    display: flex;
    justify-content: center;
    @media (max-width: 520px) {
        flex-direction: column;
    }

}


.control {
    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: 520px) {
        height: 42px;
        font-size: var(--mantine-font-size-md);
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}