.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-dark-0);
    transition: background-color 150ms ease;
    background-color: var(--mantine-color-white);

    &:hover {
        background-color: var(--mantine-color-gray-0);
    }
}

.label{
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.iconRotate{
    transition: transform 150ms ease;
    transform: rotate(180deg);
}

.iconRotateBack{
    transition: transform 150ms ease;
    transform: rotate(0deg);
}